#### Question 1: Data Type of each of the following:
#### 5 
#### 5.0
#### 5 > 1
#### '5'
#### 5 * 2
#### '5' * 2
#### '5' + '2'
#### 5 / 2
#### 5 // 2
#### [5, 2, 1]
#### 5 in [1, 4, 6]
#### math.pi

In [1]:
a = 5
print(type(a))

<class 'int'>

In [2]:
b = 5.0
print(type(b))

<class 'float'>

In [3]:
c = 5 > 1
print(type(c))

<class 'bool'>

In [4]:
a = '5'
print(type(a))

<class 'str'>

In [5]:
a = 5 * 2
print(type(a))

<class 'int'>

In [6]:
a = '5' * 2
print(type(a))

<class 'str'>

In [7]:
a = '5' + '2'
print(type(a))

<class 'str'>

In [8]:
a = 5 / 2
print(type(a))

<class 'float'>

In [9]:
a = 5 // 2
print(type(a))

<class 'int'>

In [10]:
a = [5 , 2 , 1]
print(type(a))

<class 'list'>

In [12]:
a = 5 in [1 , 4 , 6]
print(type(a))

<class 'bool'>

In [13]:
import math
type(math.pi)

float

#### Question 2: Write and Evaluate Python expressions that compute:

#### (1) The product of 1111111 with itself

In [14]:
1111111 * 1111111

1234567654321

#### (2) How often does 81 go into 1000 ?

In [16]:
1000 // 81

12

#### (3) What is the remainder when 1000 is divided by 81?

In [17]:
1000%81

28

#### (4) You scored 90/100, 95/100 and 87/100: what is your average score on these three exams?

In [18]:
(90 + 95 + 87) / 3

90.66666666666667

#### (5) You scored 90/100, 46/50, 55/60 and 66/70: what is your best score on these four exams?

In [19]:
list1 = [0.90, 0.92, 0.91, 0.94]
max(list1)

0.94

#### (6) You scored 90/100, 46/50, 55/60 and 66/70: what is the lowest score?

In [20]:
min(list1)

0.9

#### (8) The products of the numbers 1 to 10

In [21]:
1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 * 10

3628800

#### (9) A Kb (kilobyte) is really 1024 bytes, where 1024 is 2 raised to the power 10: how many bytes are there in a gigabyte (2 raised to the power 30)?

In [22]:
2**30

1073741824

#### (10) The number of different encodings using 32 bits

In [23]:
i = 11
print(bin(i))

0b1011

#### Question 3 : Write Python expressions or assignments as specified

#### a. Assign x to be 5, y to be 10, and z to be 8

In [24]:
x = 5
y = 10
z = 8

#### b. Write an expression that evaluates to the average of x, y and z.

In [25]:
(x + y + z)/3

7.666666666666667

#### c. Write an expression that evaluates to the largest value among x, y, and z.

In [26]:
max(x, y, z)

10

#### d. Write an expression that evaluates to the median value among x, y, and z

In [27]:
x+y+z-max(x,y,z)-min(x,y,z)

8

#### Question 4: Write (and evaluate) Python expressions that answer these questions

#### a. How many letters are there in 'Supercalifragilisticexpialidocious'?

In [28]:
a = "Supercalifragilisticexpialidocious"
print('len(a) = ', len(a))
len(a)

len(a) =  34

34

#### b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring?

In [29]:
'ice' in a

True

#### c. Which of the following words is the longest: Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn

In [30]:
b = max('Supercalifragilisticexpialidocious', 'Honorificabilitudinitatibus', 'Bababadalgharaghtakamminarronnkonn')
print(b)

Supercalifragilisticexpialidocious

#### d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [31]:
a = ("Berlioz", "Borodin", "Brian", "Bartok", "Bellini", "Buxtehude", "Bernstein")
x = sorted(a)
print(x)

['Bartok', 'Bellini', 'Berlioz', 'Bernstein', 'Borodin', 'Brian', 'Buxtehude']

#### Question 5 :

#### a. Write an expression creating a new list called roman, containing the strings 'Julius', 'Augustus', 'Brutus', and 'Cassius'.

In [32]:
roman = ['Julius', 'Augustus', 'Brutus', 'Cassius']

#### b. Write an expression creating a list called english, containing the strings 'Dickens', 'Austen', 'Henry', and 'Elizabeth'

In [33]:
english = ['Dickens', 'Austen', 'Henry', 'Elizabeth']

#### c. Now write an expression creating a list called rulers, containing the first two elements of roman and the last two elements of english. Use list manipulation expressions; do not just copy the data manually

In [34]:
print(roman[0:2]+english[-2:])

['Julius', 'Augustus', 'Henry', 'Elizabeth']

#### 6. Write (and evaluate) Python expressions that answer the below questions regarding a list lst of scores of 15 deliverables: 

#### [94, 86, 85, 81, 86, 96, 91, 85, 86, 83, 89, 81, 86, 98, 84]

#### a.	What are the lowest, highest, and average score?
#### b.	What is the median score?
#### c.	What is the range of the scores?
#### d.	How many of the scores are 85?

In [35]:
from statistics import median
def rng(list):
    result = max(list) - min(list)
    return result
list = [94, 86, 85, 81, 86, 96, 91, 85, 86, 83, 89, 81, 86, 98, 84]
average = sum(list)/len(list)
print("The LOWEST marks: " + str(min(list)))
print("The HIGHEST marks: " + str(max(list)))
print("The Average is: " + str(average))
print("The MEDIAN is: " + str(median(list)))
print("The RANGE is: " + str(rng(list)))
print("The COUNT of 85 is: " + str(list.count(85)))

The LOWEST marks: 81
The HIGHEST marks: 98
The Average is: 87.4
The MEDIAN is: 86
The RANGE is: 17
The COUNT of 85 is: 2

#### 7. Assume you already have a list defined, called name, containing three strings: a person’s first, middle, and last name, in that order. Write an expression that produces a string consisting of the person’s last name followed by a comma and space, then the first name and a space, then the person’s middle initial followed by a period. So, for example, if name is equal to ['John', 'Phillip', 'Sousa'], your expression will produce the string 'Sousa, John P.'

In [36]:
name = ['John', 'Phillip', 'Sousa']
lastName = name[-1]
firstName = name[0]
middleName = name[1][:1]
print(lastName +", " + firstName + " " + middleName )

Sousa, John P

#### 8. Assume you already have a list defined, called numbers, containing only numeric values. Write an expression that finds the product of the largest and smallest values in the list. For example, if the list is [4, 1, 0.5, 10, 6], your expression would find the product of 0.5 and 10.

In [37]:
input = [4, 1, 0.5, 10, 6]
def prod(list):
    result = min(list) * max(list)    
    return result
print(prod(input))

5.0

#### 9. Assume you already have a list defined, called numbers, containing only numeric values. Write code (you may need more than one expression, or to manipulate the list in some way) that finds the sum of the second-largest and second-smallest values in the list. For example, if the list is [4, 1, 0.5, 10, 6], your code would find the sum of 1 and 6.

In [38]:
def Add(l1):
    l1.sort()
    secondSmall=l1[1]
    secondLarge=l1[-2]
    summ = secondSmall + secondLarge
    return summ
list1 = [1,0.5,4,7,8]
print(Add(list1))

8