# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import random

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [2]:
x = pd.Series(np.random.randint(1,5,100))
y = pd.Series(np.random.randint(1,4,100))
z = pd.Series(np.random.randint(10000,30000,100))

### Step 3. Let's create a DataFrame by joinning the Series by column

In [5]:
seriesbycolumn = pd.concat([x,y,z],axis=1)
seriesbycolumn.head()

   0  1      2
0  1  1  18591
1  1  2  24131
2  2  1  15005
3  2  3  12658
4  3  1  16522

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [6]:
seriesbycolumn.columns = ['bedrs', 'bathrs', 'price_sqr_meter']
seriesbycolumn.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            18591
1      1       2            24131
2      2       1            15005
3      2       3            12658
4      3       1            16522

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [7]:
bigcolumn = pd.concat([x,y,z],axis=0)
bigcolumn

0         1
1         1
2         2
3         2
4         3
      ...
95    16493
96    25664
97    13882
98    25998
99    27010
Length: 300, dtype: int32

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [8]:
len(bigcolumn)

300

### Step 7. Reindex the DataFrame so it goes from 0 to 299

In [10]:
bigcolumn.reset_index(drop=True, inplace=True)
bigcolumn

0          1
1          1
2          2
3          2
4          3
       ...
295    16493
296    25664
297    13882
298    25998
299    27010
Length: 300, dtype: int32